.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #fff;
	height: 30vh;
	width: 50%;
	border-radius: 10px;
}

.title-wrapper {
	text-align: center;
}

.title {
	font-family: "Roboto", sans-serif;
	font-family: "Shadows Into Light", cursive;
	font-size: 50px;
}

.subheading {
	font-size: 30px;
	font-weight: 400;
	font-family: roboto, sans-serif;
}

.button-wrapper {
	text-align: center;
	width: 100%;
}

.action-btn {
	max-width: 100px;
	border: none;
	padding: 10px 12px;
	border-radius: 4px;
	cursor: pointer;
	background-color: #202a44;
	color: #fff;
}
